@model AdLineup.Models.AdBillboardViewModel

@{
    ViewBag.Title = "AddBillboardToAd";
}

<h2>Ad: @Html.DisplayFor(model => model.Ad_Name)</h2>
<h4>Add Billboard To Ad</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.AdId)
        @Html.HiddenFor(model => model.Ad_Name)

        @if (((SelectList)ViewBag.BillboardId).Count() > 0)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Billboard_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("BillboardId", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                <div class="col-md-offset-1 col-md-10">
                    @Html.Raw("<b>All available Billboards have been added to this Ad.</b>")
                </div>
            </div>
        }
    </div>
}

<div>
    @Html.ActionLink("Back to Ad Detail", "Details", new { id = Model.AdId } )
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}